# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# Virtual environment
venv/
env/

# Django stuff:
db.sqlite3
*.log
/media/
/staticfiles/

# IDE & Editor files
.vscode/
.idea/
*.sublime-workspace

# OS files
.DS_Store
Thumbs.db
